{% extends "CountMyBeer/base.html" %}

{% load account %}
{% load static %}

{% block extra_head %}
    {% if user.is_staff %}
        <script src="{% static "CountMyBeer/overview.js" %}" type="application/javascript"></script>
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.is_staff %}
        <div class="container" id="user_container">
            <div class="row" id="user_row"></div>
        </div>
    {% endif %}
{% endblock %}
